.Auth {
    width: 60%;
    margin: 20px auto;
    border: 2px solid #eee;
    box-shadow: 2px 2px 3px #ccc;
}

.Auth button {
    display: block;
    margin: 0 auto;
}

.Auth .error {
    display: block;
    margin: 10px auto;
    padding: 8px 20px;
    width: 90%;
    color: white;
    text-shadow: 1px 1px #333;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    background-color: rgba(240, 17, 17, 0.5);
    border-radius: 7px;
    box-shadow: 2px 2px 3px #ccc;
}
